@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 12px 0;
}

.myInput{
    font-size: 16px;
    width: 40%;
    padding: 9px;
    margin: 8px;
    border: 2px solid #9d8e8e;
    border-radius: 12px;
    outline: none;


}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn{
    padding: 7px 16px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    background: #d43b3b;
    cursor: pointer;
    outline: none;
}
.container{
    min-height: 74vh;
    margin: 40px 0px;
}
.container h1{
    font-family: 'Mukta', sans-serif;
    text-align: center;
    margin: 12px 0;
    font-size: 47px;
}